@use './vars' as *;
@use 'bootstrap/scss/bootstrap';

body {
    background-image: url("../img/_body-bg.png");
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}